{% extends "base.html" %}

{% block body %}
<div style="display: flex;justify-content: center;align-items: center;height: 350px;">
    <div>
     <form action="/login/" method="post" class="form-group">
        <label ></label>
        <br>
        <label style="color: azure;">User Name</label> 
        <input type="text" name="user_name" class="form-control">
        <label style="color: azure;">Password</label>
        <br>
        <input type="password" name="password" class="form-control">
        <br>
        <button type="submit" class="btn btn-success" style="border-radius: 5px;" >Log in</button>
        
    
    </form>
    </div>
</div>
{% endblock %}