

{% extends "base.html" %}

{% block body %}
<div style="display: flex;justify-content: center;align-items: center;height: 550px;">
    <div>
        <form action="/signup/" method="post" class="form-group" name="Signup">
            {% csrf_token %}
            
            
            <label>User Name</label>
            <input type="text" name="user_name" class="form-control">
            <p> Email</p>
            <input type="email" name="email" class="form-control">
            <p>Password</p>
            <input type="password" name="password" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Submit</button>
        
        </form>
    </div>
</div>
{% endblock %}